*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    background-color: rgb(38, 209, 221);
    height: 90px;
    padding: 30px 25px;
}
nav > h3, nav > h4{
    margin: 0%;
}
nav > h3{
    margin-right: auto;
    color:aqua;
}
.nav--logo_text, .nav--title{
    margin: 0%;
}
.nav--logo_text{
    margin-right: auto;
    color: rgb(163, 68, 68);
    font-size: 22px;
    font-weight: 700;
}
.nav--icon{
    margin-right: 7px;
    height: 80px;
}
main{
    color: rgb(255, 245, 245);
    background-color: rgb(73, 57, 57);
}